{
    "include": [
      "typescript/*.ts",
      "typescript/**/*.ts"
    ],
    "exclude": [
      "typescript/**/*test.ts",
      "typings",
      "node_modules"
    ],
    "extension": [
      ".ts"
    ],
    "require": [],
    "reporter": [
      "lcov",
      "text-summary",
      "html"
    ],
    "all": true
}