html,body{
  margin:0px;
  padding:0px;
}
.control{
  width:200px;
  float:left;
}
.conway{
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:250px;
  background: #dce2c8;
  margin:0px;
  float: left;
}

.conway canvas{
  cursor: move;
  z-index: 5;
}

.conway .control{
  display: block;
}

.conway:hover .control{
  display: block;
}

.conway__control {
}
.conway__control-pan{
  position:absolute;
  bottom:10px;
  left:10px;
  width:90px;
  height:90px;
  cursor: move;

  &:before{
    position:absolute;
    top:30px;
    left:30px;
    width:30px;
    height:30px;
    background: #fff;
    content: ' ';
  }

  &__top,
  &__bottom,
  &__left,
  &__right,
  &__center{
    position:absolute;
    width:30px;
    height:30px;
    background: #fff;
    text-align:center;
    line-height:30px;
    cursor: pointer;
    opacity: 1;

  }
  &--incactive{
    opacity: 0.3;
    transition: opacity 0.2s;
  }

  &__top{
    top:0px;
    left:30px;

    &:before{
      position:absolute;
      top:-2px;
      left:-2px;
      right:-2px;
      bottom:1px;
      border-top: 2px solid rgba(0, 0, 0, 0.2);
      border-left: 2px solid rgba(0, 0, 0, 0.2);
      border-right: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      content: ' ';
    }

  }

  &__bottom {
    top: 60px;
    left: 30px;

    &:before {
      position: absolute;
      bottom: -2px;
      left: -2px;
      right: -2px;
      top: 1px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      border-left: 2px solid rgba(0, 0, 0, 0.2);
      border-right: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      content: ' ';
    }

  }

  &__left {
    top: 30px;
    left: 00px;

    &:before {
      position: absolute;
      bottom: -2px;
      left: -2px;
      right: 1px;
      top: -2px;
      border-top: 2px solid rgba(0, 0, 0, 0.2);
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      border-left: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      content: ' ';

    }

  }

  &__right{
    top:30px;
    left:60px;

    &:before{
      position:absolute;
      bottom:-2px;
      left:1px;
      right:-2px;
      top:-2px;
      border-top: 2px solid rgba(0, 0, 0, 0.2);
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      border-right: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      content: ' ';
    }

  }

  &__center{
    top:30px;
    left:30px;
  }

}

.conway__control-zoom{
  position:absolute;
  bottom:10px;
  right:10px;
  width:30px;
  height:90px;
  background:#fff;

  &:before{
    position:absolute;
    top:-3px;
    left:-3px;
    width:30px;
    height:90px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    content: ' ';
  }

  &__zoom-in,
  &__zoom-out{
    position:absolute;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    opacity: 1;

    &--inactive{
      opacity: 0.3;
      transition: opacity 0.2s;
    }

  }

  &__zoom-in{
    top:0px;
    left:0px;
  }

  &__zoom-out {
    top:60px;
    left:00px;
  }

}

